header{
    width: 100%;
    height: 170px;
    text-align: right;
    background-image: url(images/reca2.jpg);
    margin-bottom: 10px;
    padding: 10px;
}
h1{
    display: inline-block;
    vertical-align: top;
}
h2{
    color: #fff;
}
.inlinblock{
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.li{
    text-align: center;
    background-color: #000;
    display: inline-block;
    padding: 8px 25px;
    color: #fff;
    font-size: 1.2rem;
}
nav{
    margin-top: 45px;
}
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 8000px;
    direction: rtl;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: scroll;
    background-color: rgb(32, 27, 27);
}
#div1{
    width: 100%;
    height: 400px;
    text-align: center;
    font-size: 3rem;
    color: rgb(100, 99, 10);
    padding-top: 50px;
    margin-bottom: 20px;
    margin-left: auto;
    background-image: url(images/bibi2.jpg);
    background-size: 100% 100%;
    animation: anim1 ease-in-out 40s infinite;
}
@keyframes anim1{
    0%{
        background-image: url(images/bibi2.jpg); 
    }
    33%{
        background-image: url(images/shcia2.jpg); 
    }
    66%{
        background-image: url(images/shcia3.jpg); 
    }
    100%{
        background-image: url(images/shcia1.jpg); 
    }
}
#div2{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    padding-right: 10px;
    text-align: center;
}
#div3{
    width: 100%;
    height: 600px;
    border: 2px solid #fff;
}
#tt{
    font-size: 3rem;
    color: red;
}
section{
    width: 70%;
    display: inline-block;
    vertical-align: top;
    
    padding-right: 10px;
}
aside{
    width: 23%;
    height: 1465px;
    display: inline-block;
    background-color: rgb(241, 232, 232);
    margin-right: 10px;
    text-align: center;
    padding: 30px;
}
li:hover{
    background-color: rgb(231, 16, 16);
}
#input{
    display: none;
}
.dd{
    display: inline-block;
    width: 29%;
    height: 170px;
    margin: 5px;
    border-top: #fff 2px solid;
    padding-top: 5px;
}
input{
    height: 12px;
}
#div0{
    width: 100%;
}
#mm{
    display: none;
}
.d10{
    width: 100%;
    height: 31%;
    margin-bottom: 10px;
    background-color: rgb(201, 193, 161);
}
#jj{
    background-image: url(images/watsapp.png);
    width: 200px;
    height: 100px;
    background-size: 100% 100%;
    position: fixed;
    top: 500px;
    left: 0px;
    text-align: left;
}
p{
    font-size: 12px;
    display: inline-block;
}
footer{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
}